[submodule "Engine/3rd-party/GLFW"]
	path = Engine/3rd-party/GLFW
	url = https://github.com/glfw/glfw
[submodule "Engine/3rd-party/spdlog"]
	path = Engine/3rd-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/3rd-party/imgui"]
	path = Engine/3rd-party/imgui
	url = https://github.com/ocornut/imgui
[submodule "Engine/3rd-party/glm"]
	path = Engine/3rd-party/glm
	url = https://github.com/g-truc/glm
